html{
    background-color: indianred;
}

h1{
    color: lavenderblush;
    font-size:larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    color: lightgray;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    width: 800px;
    margin: 0 auto;
    background-color: chocolate;
    padding: 0 20px 20px 20px;
    border: 10px honeydew;

}